<div class="container view">
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="./img/tcole_all_screen.png" alt="TCOLE">
	      <div class="caption">
	        <h3><a href="http://tcole.texas.gov" target="_blank">TCOLE</a></h3>
	        <p>This is a description about TCOLE</p>
	        <p><span class="label label-warning">Drupal</span><span class="label label-warning">Custom Drupal Theme</span><span class="label label-warning">Responsive</span></p><p><span class="label label-warning">CSS3</span><span class="label label-warning">Window's Server</span></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="./img/trcakes_screen.png" alt="Sweet Tena Rae's">
	      <div class="caption">
	        <h3><a href="http://sweettenaraes.com" target="_blank">Sweet Tena Rae's</a></h3>
	        <p>This is a description about Sweet Tena Rae's</p>
	        <p><span class="label label-warning">Drupal</span><span class="label label-warning">Custom Drupal Theme</span><span class="label label-warning">jQuery</span></p><p><span class="label label-warning">CSS3</span><span class="label label-warning">Email Setup</span></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="./img/oglebug_screen.png" alt="Oglebug">
	      <div class="caption">
	        <h3><a href="https://www.youtube.com/watch?v=UAQEaVU2T6w" target="_blank">Oglebug</a></h3>
	        <p>This is a description about Oglebug</p>
	        <p><span class="label label-warning">PHP</span><span class="label label-warning">HTML/CSS3</span><span class="label label-warning">JavaScript</span></p><p><span class="label label-warning">Custom Mobile Integration</span></p>
	      </div>
	    </div>
	  </div>
	</div>
</div>